.bloop/ 
.bsp/
.classpath
.DS_Store
.history/
.idea/
.manager
.metals/
.project
.scala_dependencies
.settings
.vscode/
*.class
*.ear
*.iml
*.jar
*.orig
*.war
derby.log
project/metals.sbt
project/project
target/
